<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">EasyTranslate</label>
    <label lang="en">EasyTranslate</label>
    <version>1.1.0</version>
    <copyright>by EasyTranslate</copyright>
    <license>proprietary</license>
    <link>http://store.shopware.com</link>
    <author>EasyTranslate</author>

    <compatibility minVersion="5.7.0" />

    <changelog version="1.1.0">
        <changes lang="de">Übersetzungsprofile hinzugefügt und Fehler behoben</changes>
        <changes lang="en">added translation profile and resolved issues</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>

</plugin>
