<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>Easytranslate</name>
            <label lang="en">Easytranslate</label>
            <label lang="de">Easytranslate</label>
            <controller>Easytranslate</controller>
            <action>index</action>
            <class>sprite-globe-green</class>
            <parent identifiedBy="controller">Content</parent>
        </entry>
    </entries>
</menu>
